[feeds]
ejcn = "http://feeds.nature.com/ejcn/rss/current"
high-scalability = "https://feeds.feedburner.com/HighScalability?format=xml"
nature = "http://feeds.nature.com/nature/rss/current"
reuters = "http://feeds.reuters.com/reuters/topNews"
slate-star-codex = "https://slatestarcodex.com/feed"
xkcd = "http://xkcd.com/rss.xml"
